/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

label {
	display: block;
}

.error-messages {
	color: red;
	font-size: 12px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}

#content{
	padding-top: 70px;
}

.search-button {
  float: right;
  margin-top: 6px;
  width: 200px;
  font-size: 18px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
  text-align: center;
}

.text-muted {
	margin-top: 15px;
  font-size: 12px;
}

.letter-index {
  margin-top: 10px;
  margin-bottom: 20px;
}

.letter-index li {
  display: inline-block;
  width: 30px;
  border-right: 1px solid lightgray;
  text-align: center;
}

.letter-index li:last-child {
  border-right: none;
}

.navbar-header ul {
  padding: 0;
}

.navbar-header li {
  display: inline-block;
  padding: 0 20px;
  border-left: 1px solid lightgray;
}

.navbar-header li:first-child {
  padding-left: 0;
  border-left: none;
}