<!DOCTYPE html>
<html>
<head>
  <title>Timetracking</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header><h1>Time Tracking Tool</h1></header>

<h2>You have no projects in the list.</h2>
<%= yield %>

<footer>My first rails project.</footer>
</body>
</html>