<div class="jumbotron">
  <h1>Welcome to Address Book!</h1>
  <p>Maecenas vestibulum, erat ac maximus lobortis, purus lorem tristique nibh, eu facilisis magna sapien sit amet lacus. Duis et hendrerit metus. Pellentesque et massa ac turpis consectetur tempor. Vestibulum ac elementum felis, non congue purus. Aenean quis ligula vestibulum, ornare sapien eget, dapibus tellus. Vivamus vitae lacinia ligula. Quisque augue est, euismod aliquet magna nec, finibus consequat turpis. Nullam at dui laoreet risus pretium consectetur.</p>
  

  <p><%= link_to "See all contacts", all_contacts_path, title: "See all contacts", class: "btn btn-primary btn-lg" %></p>
</div>